@media (min-width : 1200px) {
   .container {
      max-width: 1140px;
   }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 768px) and (max-width: 991.98px) {
   .container {
      max-width: 720px;
   }

   header {
      box-shadow: 0 0 10px -5px;
      transition: all 1s ease;
   }

   main {
      padding-top: 6rem;

      .section-header {
         flex-direction: column;

         .title-header {
            order: 2;
         }

         .wrap-img {
            order: 1;

            img {
               max-width: 15em;
            }
         }
      }

      .section-main {
         margin-top: 40px;

         aside {
            padding: 0 15px;
            flex-basis: 230px;
         }
      }
   }

}

@media (min-width: 576px) and (max-width: 767.98px) {
   .container {
      max-width: 540px;
   }
}

@media (max-width : 575.98px) {
   .container {
      max-width: 100%;
   }
}


// *max responsive
@media (max-width : 767px) {
   header {

      .navbar {
         .navbar__toggle {
            display: block;
            z-index: 2;
         }

         #collapses {
            display: none;
         }

         .collapse {
            background-color: rgb(5, 51, 92);
            text-align: center;
            position: absolute;
            top: 70px;
            left: 0;
            right: 0;
            z-index: 1;

            .nav {
               display: block;

               a {
                  color: white;
               }
            }
         }
      }
   }

   main {
      padding-top: 6rem;

      .section-header {
         flex-wrap: nowrap;
         flex-direction: column;
         margin-bottom: 100px;

         .title-header {
            order: 2;
         }

         .wrap-img {
            order: 1;

            img {
               max-width: 15em;
            }
         }
      }

      .section-main {
         flex-direction: column;
         margin-top: 40px;

         article {
            margin-bottom: 25px;
         }

         aside {
            padding: 0;
         }
      }
   }
}

@media (max-width: 425px) {
   header {}

   main {
      .section-header {
         text-align: center;

         .title-header {
            h1 {
               font-size: 25px;
            }

            p {
               color: #05335c;

               a {
                  color: $skyblue;
               }
            }
         }
      }

      .section-main {
         aside {
            text-align: center;

            ul {
               margin: 10px 125px;
            }
         }
      }
   }
}