@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Dancing+Script:wght@600&family=Poppins:wght@400;600;700&family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');


$regular : 'Poppins',
sans-serif;
$heading : 'Bitter',
serif;
$sambung : 'Dancing Script',
cursive;
$scifi: 'Baloo Da 2',
cursive;

$skyblue : #2673B8;
$darkblue :rgb(5, 51, 92);

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
   color: $darkblue;
   font-family: $regular;
}


.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -15px;
   margin-left: -15px;
}

.img-fluid {
   width: 100%;
   height: auto;
}

#result {
   background: #d0e1f152;
   border-radius: 5px;
   padding: 10px;
   display: none;
   margin: 5px 0;
}


header {
   position: fixed;
   width: 100%;
   border-bottom: 1px solid #f2f2f2;
   z-index: 99;

   .navbar {
      padding: 10px;
      position: relative;
      background-color: white;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;

      .navbar__brand {
         font-family: $scifi;
         font-size: 30px;
         text-transform: capitalize;
         text-decoration: none;
         color: #2673B8;

         &:hover {
            color: #f7d16f;
            transition: all .2s ease-in;
         }

         span {
            color: rgb(5, 51, 92);
         }
      }

      .navbar__toggle {
         display: none;
         padding: .25rem .75rem;
         font-size: 25px;
         line-height: 1;
         text-decoration: none;
      }

      // .navbar__toggle--icon {}

      .collapse {
         .nav {
            display: flex;
            list-style: none;
            text-transform: capitalize;

            li {
               padding: 10px;
               position: relative;
            }

            a {
               color: $darkblue;
               text-decoration: none;

               &:hover {
                  color: $skyblue;

                  &::after {
                     content: '...';
                     border-radius: 50%;
                     display: block;
                     position: absolute;
                     left: 0;
                     right: 0;
                     bottom: 0;
                     text-align: center;
                  }
               }
            }
         }
      }
   }
}

main {

   .section-header {
      height: 100vh;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      align-items: center;

      .title-header {
         flex-grow: 1;
         flex-basis: 50%;

         h1 {
            font-family: $heading;
            font-size: 40px;
            padding-bottom: 20px;
         }

         p {
            color: #b0b0b0;
            letter-spacing: 1px;
            padding-bottom: 20px;

            a {
               color: #b0b0b0;
               // text-decoration: none;

               &:hover {
                  color: $skyblue;
               }
            }
         }

         .btn-cta {
            border: none;
            border-radius: 5px;
            box-shadow: 0px 5px 15px -5px $skyblue;
            background-color: $skyblue;
            color: white;
            font-size: 20px;
            padding: 15px 70px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-top: 20px;
            transition: background-color .3s ease;
            text-decoration: none;
            cursor: pointer;

            &:hover {
               background-color: #2c8ade;
               transition: background-color .3s ease;
            }
         }
      }

      .wrap-img {
         flex-grow: 1;
         flex-basis: 50%;
         text-align: center;

         img {
            width: 25em;
            height: auto;
            justify-content: center;
            align-items: center;
         }
      }
   }

   .section-main {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      flex-wrap: wrap;

      article {
         flex-grow: 1;
         flex-basis: 300px;

         a {
            color: $skyblue;
            text-decoration: none;
         }
      }

      aside {
         padding: 0 50px;
         flex-basis: 50px;
         flex-grow: 1;

         img {
            width: 100px;
            height: 100px;
            margin: 10px 0;
         }

         ul {
            margin: 10px 0;

            li {
               a {
                  color: $darkblue;
                  text-decoration: none;

                  &:hover {
                     border-bottom: 2px solid $darkblue;
                  }
               }
            }
         }

         form {
            margin: 15px 0;

            input {
               border-radius: 5px;
               border: 1px solid #f2f2f2;
               padding: 10px;
               font-family: $regular;
            }

            button {
               padding: 10px 20px;
               background-color: transparent;
               border: 1px solid #cae3fb;
               border-radius: 5px;
               font-family: $regular;
               cursor: pointer;

               &:hover {
                  background-color: $darkblue;
                  color: white;
               }

               &:active {
                  background-color: $skyblue;
               }
            }
         }
      }

      .header-img {
         background-image: url(assets/img/img-code.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         background-attachment: fixed;
         width: 100%;
         height: 250px;
         margin: 40px 0;
         position: relative;

         .title {
            color: white;
            position: absolute;
            bottom: 0;
            font-size: 1rem;
            font-family: $scifi;
            padding: 30px;
            text-transform: uppercase;
         }
      }

      .section-second {
         width: 100%;
         margin-bottom: 2rem;

         p {
            margin-bottom: 1rem;
         }

         .faq-container {
            background-color: $skyblue;

            input {
               display: none;

               &:checked+label {
                  background-color: orange;

                  &::before {
                     content: '⇩';
                     transition: 0.5s;
                  }
               }

               &:checked~.faq-body {
                  height: auto;
                  color: #fff;
                  padding: 20px;
                  transition: 0.5s;
               }
            }

            label {
               cursor: pointer;
               background-color: rgba(255, 255, 255, 0.1);
               border-bottom: 1px solid rgba(255, 255, 255, 0.1);
               display: block;
               padding: 15px;
               width: 100%;
               color: #fff;
               font-weight: 400;
               box-sizing: border-box;
               z-index: 100;

               &::before {
                  content: '⇨';
                  font-weight: bolder;
                  float: right;
               }
            }

            .faq-body {
               width: 98%;
               width: calc(100% - 20px);
               margin: 0 auto;
               font-size: 13px;
               height: 0;
               color: rgba(0, 0, 0, 0);
               background-color: $darkblue;
               line-height: 28px;
               padding: 0 20px;
               box-sizing: border-box;
               transition: 0.5s;
            }
         }
      }
   }
}

footer {
   color: white;
   text-align: center;
   text-transform: capitalize;
   background-color: $darkblue;
   font-size: 13px;
   padding: 30px;
}

@import 'res';