@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Dancing+Script:wght@600&family=Poppins:wght@400;600;700&family=Baloo+Da+2:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #05335c;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

#result {
  background: #d0e1f152;
  border-radius: 5px;
  padding: 10px;
  display: none;
  margin: 5px 0;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  z-index: 99;
}

header .navbar {
  padding: 10px;
  position: relative;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .navbar__brand {
  font-family: "Baloo Da 2", cursive;
  font-size: 30px;
  text-transform: capitalize;
  text-decoration: none;
  color: #2673B8;
}

header .navbar .navbar__brand:hover {
  color: #f7d16f;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

header .navbar .navbar__brand span {
  color: #05335c;
}

header .navbar .navbar__toggle {
  display: none;
  padding: .25rem .75rem;
  font-size: 25px;
  line-height: 1;
  text-decoration: none;
}

header .navbar .collapse .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-transform: capitalize;
}

header .navbar .collapse .nav li {
  padding: 10px;
  position: relative;
}

header .navbar .collapse .nav a {
  color: #05335c;
  text-decoration: none;
}

header .navbar .collapse .nav a:hover {
  color: #2673B8;
}

header .navbar .collapse .nav a:hover::after {
  content: '...';
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

main .section-header {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-header .title-header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

main .section-header .title-header h1 {
  font-family: "Bitter", serif;
  font-size: 40px;
  padding-bottom: 20px;
}

main .section-header .title-header p {
  color: #b0b0b0;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

main .section-header .title-header p a {
  color: #b0b0b0;
}

main .section-header .title-header p a:hover {
  color: #2673B8;
}

main .section-header .title-header .btn-cta {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -5px #2673B8;
          box-shadow: 0px 5px 15px -5px #2673B8;
  background-color: #2673B8;
  color: white;
  font-size: 20px;
  padding: 15px 70px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 20px;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
  text-decoration: none;
  cursor: pointer;
}

main .section-header .title-header .btn-cta:hover {
  background-color: #2c8ade;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

main .section-header .wrap-img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
}

main .section-header .wrap-img img {
  width: 25em;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .section-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .section-main article {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
}

main .section-main article a {
  color: #2673B8;
  text-decoration: none;
}

main .section-main aside {
  padding: 0 50px;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .section-main aside img {
  width: 100px;
  height: 100px;
  margin: 10px 0;
}

main .section-main aside ul {
  margin: 10px 0;
}

main .section-main aside ul li a {
  color: #05335c;
  text-decoration: none;
}

main .section-main aside ul li a:hover {
  border-bottom: 2px solid #05335c;
}

main .section-main aside form {
  margin: 15px 0;
}

main .section-main aside form input {
  border-radius: 5px;
  border: 1px solid #f2f2f2;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

main .section-main aside form button {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #cae3fb;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

main .section-main aside form button:hover {
  background-color: #05335c;
  color: white;
}

main .section-main aside form button:active {
  background-color: #2673B8;
}

main .section-main .header-img {
  background-image: url(assets/img/img-code.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 250px;
  margin: 40px 0;
  position: relative;
}

main .section-main .header-img .title {
  color: white;
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  font-family: "Baloo Da 2", cursive;
  padding: 30px;
  text-transform: uppercase;
}

main .section-main .section-second {
  width: 100%;
  margin-bottom: 2rem;
}

main .section-main .section-second p {
  margin-bottom: 1rem;
}

main .section-main .section-second .faq-container {
  background-color: #2673B8;
}

main .section-main .section-second .faq-container input {
  display: none;
}

main .section-main .section-second .faq-container input:checked + label {
  background-color: orange;
}

main .section-main .section-second .faq-container input:checked + label::before {
  content: '⇩';
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section-main .section-second .faq-container input:checked ~ .faq-body {
  height: auto;
  color: #fff;
  padding: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .section-main .section-second .faq-container label {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: block;
  padding: 15px;
  width: 100%;
  color: #fff;
  font-weight: 400;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
}

main .section-main .section-second .faq-container label::before {
  content: '⇨';
  font-weight: bolder;
  float: right;
}

main .section-main .section-second .faq-container .faq-body {
  width: 98%;
  width: calc(100% - 20px);
  margin: 0 auto;
  font-size: 13px;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #05335c;
  line-height: 28px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

footer {
  color: white;
  text-align: center;
  text-transform: capitalize;
  background-color: #05335c;
  font-size: 13px;
  padding: 30px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  header {
    -webkit-box-shadow: 0 0 10px -5px;
            box-shadow: 0 0 10px -5px;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  main {
    padding-top: 6rem;
  }
  main .section-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .section-header .title-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .section-header .wrap-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .section-header .wrap-img img {
    max-width: 15em;
  }
  main .section-main {
    margin-top: 40px;
  }
  main .section-main aside {
    padding: 0 15px;
    -ms-flex-preferred-size: 230px;
        flex-basis: 230px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  header .navbar .navbar__toggle {
    display: block;
    z-index: 2;
  }
  header .navbar #collapses {
    display: none;
  }
  header .navbar .collapse {
    background-color: #05335c;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  header .navbar .collapse .nav {
    display: block;
  }
  header .navbar .collapse .nav a {
    color: white;
  }
  main {
    padding-top: 6rem;
  }
  main .section-header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 100px;
  }
  main .section-header .title-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .section-header .wrap-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .section-header .wrap-img img {
    max-width: 15em;
  }
  main .section-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  main .section-main article {
    margin-bottom: 25px;
  }
  main .section-main aside {
    padding: 0;
  }
}

@media (max-width: 425px) {
  main .section-header {
    text-align: center;
  }
  main .section-header .title-header h1 {
    font-size: 25px;
  }
  main .section-header .title-header p {
    color: #05335c;
  }
  main .section-header .title-header p a {
    color: #2673B8;
  }
  main .section-main aside {
    text-align: center;
  }
  main .section-main aside ul {
    margin: 10px 125px;
  }
}
/*# sourceMappingURL=style.css.map */